/*NORMALIZES*/
/*fonts*/

@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

@font-face {
  font-family: "triforce";
  src: url("./fonts/Triforce.ttf") format("truetype");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition-duration: 0.2s;
}

/*GENERALS*/

header {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

main {
  padding: 0 0.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(18, 18, 18);
  color: rgb(255, 255, 255);
}

/*header title background */

section.intro {
  height: 100vh;
  min-width: 100%;
  background-image: url("./imgs/sword-and-shield-castle-artwork-the-legend-of-zelda-landscape-link.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-bottom: 2px solid rgb(255, 255, 255);
}

/*header container */

div.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

section.title-container {
  height: 10vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*header zelda logo*/

div figure.logo {
  margin-top: 20%;
}

.logo-img {
  background-color: rgba(255, 255, 255, 0.419);
  border: 3px inset rgb(175, 38, 38);
  border-radius: 5px;
  padding-block: 6px;
  padding-inline: 6px;
  max-width: 200px;
}

/*footer*/

h6.footer-text {
  font-family: "triforce", sans-serif;
  width: 100%;
  height: 50px;
  font-size: 1rem;
  text-align: center;
  overflow: none;
  padding: 15px;
  border: 2px transparent;
  border-radius: 5px 10px 5px 5px;
  margin-top: 100px;
  margin-bottom: 20px;

  color: rgb(158, 158, 158);
  background-image: linear-gradient(
    to top right,
    rgb(25, 25, 25) 10%,
    rgb(72, 72, 72) 90%
  );
  z-index: 10;
}

/*LINEA TEMPORAL*/
#body-timeline {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 80%;
  padding-top: 80px;
  padding-bottom: 20px;
  margin: auto;
  overflow: hidden;
}

#line-time {
  list-style: none;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 100px;
  padding: 50px 0;
  width: 5px;
  min-height: 60%;
  max-height: max-content;
  border-radius: 20px;
  background-image: linear-gradient(
    to right,
    rgb(55, 55, 55) 10%,
    rgb(107, 0, 0) 90%
  );
  box-shadow: 0px 0px 30px white;
}

.point-time {
  position: relative;
  width: 10px;
  padding-top: 50px;
}

.point-time::after {
  content: "";
  position: absolute;
  right: 0px;
  left: -3px;
  top: 178px;
  margin-left: -7px;
  background-image: linear-gradient(
    to right top,
    rgb(0, 0, 0),
    rgb(107, 106, 106)
  );
  padding: 10px;
  border: 3px solid rgb(107, 0, 0);
  border-radius: 100%;
}

/*TEXTS*/
h1 {
  width: 100%;

  font-family: "triforce", serif;
  font-size: 40px;
  text-shadow: 2px 2px 4px rgb(105, 155, 255), 10px 0px 40px rgb(255, 255, 255);

  background-color: transparent;
  color: rgba(255, 255, 255, 0.884);

  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

h1::before {
  content: "";

  height: 3px;
  border-radius: 3px;

  min-width: 175px;

  background-color: rgba(255, 255, 255, 0.884);
  box-shadow: 2px 2px 5px rgb(219, 80, 80);
  margin-bottom: 4px;
}

.text-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.dialog p {
  text-align: center;
  font-weight: 400;
  font-family: "DotGothic16", sans-serif;
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 1rem;
  line-height: 25px;
  margin-top: 20px;
}

.dialog-left p {
  text-shadow: 1px 1px 2px rgb(235, 35, 35);
}

.dialog-right p {
  text-shadow: 1px 1px 2px rgb(105, 155, 255);
}

/*DIALOGS*/

.body-card {
  width: 500px;
  margin-bottom: 4rem;
  background-image: linear-gradient(
    to top,
    rgb(25, 25, 25) 10%,
    rgb(72, 72, 72) 90%
  );
  padding: 1rem auto;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 0.1s;
}

/* card size */

.point-time .dialog {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  width: 300px;
  height: 320px;
  top: -100px;
  transition: all 3s;
  overflow-y: auto;
  overflow-x: hidden;
  direction: rtl;
}

/*NOTE: GOTTA FIX 1986 CARD HEIGHT ONCE THE ORDER IS DONE

/*scrollbars*/

#line-time > li:nth-child(odd) > div {
  direction: ltr;
}

#line-time > li:nth-child(even) > div {
  direction: rtl;
}

.point-time .dialog-left::-webkit-scrollbar {
  width: 1px;
}

.point-time .dialog-left::-webkit-scrollbar-thumb {
  background-color: rgb(204, 46, 46);
  border-radius: 0px 2px 2px 0px;
}

.point-time .dialog-right::-webkit-scrollbar {
  width: 1px;
}

.point-time .dialog-right::-webkit-scrollbar-thumb {
  background-color: rgba(105, 155, 255, 0.637);
  border-radius: 0px 2px 2px 0px;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(187, 1, 1);
  box-shadow: 0px 0px 5px inset rgb(255, 255, 255);
  height: 150px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(18, 18, 18);
}
/*card style by position*/

.dialog-left {
  left: 50px;
  border-radius: 60px 2px 2px 20px;
  box-shadow: 6px 7px 8px rgba(230, 64, 64, 0.582);
}

.dialog-right {
  right: 350px;
  border-radius: 0px 80px 50px 0px;
  padding: 1.5rem;
  box-shadow: -5px 7px 4px rgba(105, 155, 255, 0.493);
}

.frame {
  margin: auto;
}

.dialog-left img {
  width: 200px;
  height: 210px;
  border-radius: 80px 30px 80px 50px;
  padding: 1.2rem;
  filter: drop-shadow(2px 2px 15px rgb(235, 35, 35));
}

.dialog-right img {
  width: 200px;
  height: 210px;
  border-radius: 30px 80px 50px 80px;
  padding: 1.2rem;
  filter: drop-shadow(2px 2px 15px rgb(105, 155, 255));
}

.dialog h2 {
  text-align: center;
  font-family: "triforce", serif;
  padding: 0.6rem;
  text-shadow: 0px 0px 15px rgb(255, 255, 255);
  display: inline-block;
}

.dialog-left h2 {
  color: rgb(247, 68, 68);
}

.dialog-right h2 {
  color: rgb(105, 155, 255);
}

.dialog h3 {
  font-family: "triforce", serif;
  color: rgb(233, 233, 233);
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 15px;
}

.visible-left {
  animation: 0.5s toleft forwards;
}

.visible-right {
  animation: 0.5s toright forwards;
}

.visible {
  opacity: 1;
}

.no-visible {
  opacity: 0;
}

/* FORM MODAL */

.form-modal {
  width: 100%;
  background-image: url("https://fondosmil.com/fondo/4529.jpg");
  background-size: cover;
  position: fixed;
  height: 100%;
  z-index: 10;
  top: 0%;
  border-radius: 7px;
  padding: 10px;
}

.form-modal-close {
  display: none;
}

.button-operation {
  width: 40px;
  height: 45px;
  border-radius: 1000px;
  font-size: 30px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.order-button {
  width: 30px;
  height: 50px;
  position: relative;
  top: -50px;
  border: 5px solid orange;
  color: orange;
}

.order-button:hover {
  box-shadow: 0 0 20px orange;
  text-shadow: 0 0 20px orange;
}

.open-button {
  position: relative;
  top: -50px;
  border: 5px solid greenyellow;
  color: greenyellow;
  margin-right: 3%;
}

.open-button:hover {
  box-shadow: 0 0 20px greenyellow;
  text-shadow: 0 0 20px greenyellow;
}

.close-button {
  border: 5px solid red;
  color: red;
}

.close-button:hover {
  box-shadow: 0 0 20px red;
  text-shadow: 0 0 20px red;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border: none;
}

legend {
  font-family: "triforce", serif;
  margin: 5px;
  font-size: 30px;
  color: red;
  text-shadow: 1px 2px 6px white;
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: rgba(0, 0, 0, 0.432);
  padding: 5px;
  padding-bottom: 10px;
  width: 80%;
}

label {
  color: rgb(235, 229, 229);
  text-shadow: 2px 2px 4px rgb(204, 46, 46);
  font-weight: bold;
  font-family: "DotGothic16", sans-serif;
}

/* INPUTS */

input,
textarea {
  font-size: 15px;
  padding-left: 5px;
  border: none;
  outline: none;
  border-radius: 3px;
  width: 70%;
}

.preview-cover {
  width: 20%;
  margin: 5px;
}

/* button */
#submit {
  border: none;
  outline: none;
  width: 55%;
  height: 30px;
  border-radius: 5px;
  font-size: 15px;
  background-image: linear-gradient(
    to top,
    rgb(0, 104, 0) 20%,
    rgb(0, 172, 0) 60%
  );
  color: white;
  cursor: pointer;
}

#submit:hover {
  box-shadow: 0px 0px 20px rgb(148, 255, 148);
}

textarea {
  padding-top: 5px;
}

/* mediaq */

@media (min-width: 821px) {
  div figure.logo {
    margin-top: 10%;
  }

  .logo-img {
    max-width: 250px;
  }

  h1 {
    height: 25vh;
    font-size: 30px;
  }

  .dialog h3 {
    margin-top: 8px;
  }
}

@media (max-width: 820px) {
  section.intro {
    background-position: bottom right;
  }

  div figure.logo {
    margin-top: 10%;
  }

  .logo-img {
    max-width: 250px;
  }

  h1 {
    height: 80vh;
    font-size: 30px;
  }

  /*timeline resize*/

  #line-time {
    left: 10%;
    width: 4px;
    background-color: rgb(18, 18, 18);
    box-shadow: 0px 0px 15px white;
  }

  .point-time::after {
    right: 0px;
    left: -1px;
    top: 180px;
    /* background-color: rgb(255, 255, 255); */
    padding: 7px;
    border: 3px solid rgb(107, 0, 0);
  }

  .point-time {
    width: 1px;
  }

  /*So we always use same card format and display for mw 820px*/

  .dialog-left {
    left: 30px;
    border-radius: 60px 2px 2px 20px;
  }

  .dialog-right {
    right: 300px;
    border-radius: 0px 80px 50px 0px;
  }

  #line-time > li:nth-child(odd) > div {
    width: 270px;
    height: 280px;

    display: flex;
    align-content: center;
    align-items: center;
  }

  #line-time > li:nth-child(even) > div {
    width: 270px;
    height: 280px;

    display: flex;
    align-content: center;
    align-items: center;
  }

  .point-time div {
    font-size: 15px;
  }

  .open-button {
    margin-right: 3%;
  }

  .dialog h3 {
    margin-top: 30px;
  }
}

@media (max-width: 678px) {
  section.intro {
    background-position: bottom right -120px;
  }

  div figure.logo {
    margin-top: 10%;
  }

  .logo-img {
    max-width: 250px;
  }

  h1 {
    height: 80vh;
    font-size: 30px;
  }

  /*timeline resize*/

  #line-time {
    width: 4px;
    background-color: rgb(18, 18, 18);
    box-shadow: 0px 0px 10px white;
  }

  .point-time::after {
    right: 0px;
    left: 0px;
    top: 180px;
    /* background-color: rgb(255, 255, 255); */
    padding: 7px;
    border: 2px solid rgb(107, 0, 0);
  }

  .point-time {
    width: 1px;
  }

  /*So we always use same card format and display for mw 820px*/

  .dialog-left {
    left: 30px;
    border-radius: 60px 2px 2px 20px;
  }

  .dialog-right {
    right: 265px;
    border-radius: 0px 80px 50px 0px;
  }

  #line-time > li:nth-child(odd) > div {
    width: 240px;
    height: 300px;

    display: flex;
    align-content: center;
    align-items: center;
  }

  #line-time > li:nth-child(even) > div {
    width: 240px;
    height: 300px;

    display: flex;
    align-content: center;
    align-items: center;
  }

  .point-time div {
    font-size: 15px;
  }

  .open-button {
    margin-right: 3%;
  }

  .dialog h2 {
    font-size: 18px;
  }

  .dialog h3 {
    margin-top: 1px;
  }
}

@media (max-width: 576px) {
  section.intro {
    background-position: bottom right -180px;
  }

  /*timeline resize*/

  #line-time {
    position: relative;
    left: -130px;
    width: 2px;
    background-color: rgb(18, 18, 18);
    box-shadow: 0px 0px 10px white;
  }

  .point-time::after {
    position: absolute;
    right: 0px;
    left: 1px;
    top: 100px;
    margin-left: -7px;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border: 2px solid rgb(18, 18, 18);
    border-radius: 100%;
  }

  .point-time {
    width: 1px;
  }

  .point-time div {
    left: 20px;
    width: 250px;
    font-size: 12px;
  }

  #line-time > li:nth-child(odd) > div {
    width: 240px;
    height: 272px;

    display: flex;
    align-content: center;
    align-items: center;
  }

  #line-time > li:nth-child(even) > div {
    width: 240px;
    height: 272px;

    display: flex;
    align-content: center;
    align-items: center;
  }

  .dialog h3 {
    margin-top: 18px;
  }

  .dialog-right {
    border-radius: 60px 2px 2px 20px;
    box-shadow: 6px 7px 8px rgba(105, 155, 255, 0.493);
  }

  .dialog-right img {
    border-radius: 80px 30px 80px 50px;
  }

  #line-time > li:nth-child(even) > div {
    direction: ltr;
  }

  #close-button {
    width: 35px;
    height: 40px;
    font-size: 20px;
    border: 3px solid red;
  }

  .order-button {
    margin-left: 3%;
  }
}

@media (max-width: 304px) {
  div figure.logo {
    margin-top: 10%;
  }

  .logo-img {
    max-width: 150px;
  }

  h1 {
    height: 80vh;
    font-size: 20px;
  }

  h1::before {
    min-width: 120px;
  }

  /*card resize*/

  #line-time > li:nth-child(odd) > div {
    width: 170px;
    height: 260px;

    display: flex;
    align-content: center;
    align-items: center;
  }

  #line-time > li:nth-child(even) > div {
    width: 170px;
    height: 260px;

    display: flex;
    align-content: center;
    align-items: center;
  }

  .frame > img {
    margin-right: -15px;
    margin-left: auto;
    width: 150px;
    height: 160px;
    border-radius: 50px 50px 50px 49px;
  }

  div.text-card {
    width: 190px;
  }

  .point-time::after {
    top: 124px;
  }

  .dialog h3 {
    margin-top: 8px;
  }

  #line-time {
    position: relative;
    left: -100px;
  }
}

/* DEVICE SPECIFIC DIMMENSIONS */

/* Animations */
@keyframes toleft {
  0%,
  80% {
    transform: translateX(1500px) scale(0.1);
  }

  100% {
    transform: translateX(0) scale(1);
  }
}

@keyframes toright {
  0%,
  80% {
    transform: translateX(-1500px) scale(0.1);
  }

  100% {
    transform: translateX(0) scale(1);
  }
}

/*iphone SE fix*/

@media only screen and (width: 375px) and (height: 667px) {
  #line-time {
    position: relative;
    left: -120px;
  }

  #line-time > li:nth-child(odd) > div {
    width: 270px;
    height: 320px;
  }

  #line-time > li:nth-child(even) > div {
    width: 270px;
    height: 320px;
  }

  section.intro {
    background-position: bottom right -180px;
  }

  .logo-img {
    max-width: 150px;
  }

  h1 {
    font-size: 20px;
    padding: 2rem;
  }
}

@media only screen and (width: 667px) and (height: 375px) {
  section.intro {
    background-position: bottom right -18px;
  }

  div figure.logo {
    margin-top: 10%;
  }

  .logo-img {
    max-width: 170px;
  }

  h1 {
    font-size: 30px;
  }
}

/*iphone xr fix*/

@media only screen and (width: 414px) and (height: 896px) {
  section.intro {
    background-position: bottom right -220px;
  }

  #line-time {
    position: relative;
    left: -120px;
  }

  #line-time > li:nth-child(odd) > div {
    width: 270px;
    height: 320px;
  }

  #line-time > li:nth-child(even) > div {
    width: 270px;
    height: 320px;
  }

  .logo-img {
    max-width: 200px;
  }

  h1 {
    font-size: 30px;
  }
}

@media only screen and (width: 896px) and (height: 414px) {
  div figure.logo {
    margin-top: 10%;
  }

  .logo-img {
    max-width: 220px;
  }

  h1 {
    height: 80vh;
    font-size: 30px;
  }
}

/*iphone 12 pro fix*/

@media only screen and (width: 390px) and (height: 844px) {
  section.intro {
    height: 100vh;
    background-position: bottom right -220px;
  }

  #line-time {
    position: relative;
    left: -120px;
  }

  #line-time > li:nth-child(odd) > div {
    width: 270px;
    height: 320px;
  }

  #line-time > li:nth-child(even) > div {
    width: 270px;
    height: 320px;
  }

  .logo-img {
    max-width: 200px;
  }

  h1 {
    font-size: 30px;
  }
}

@media only screen and (width: 844px) and (height: 390px) {
  div figure.logo {
    margin-top: 10%;
  }

  .logo-img {
    max-width: 220px;
  }

  h1 {
    height: 80vh;
    font-size: 30px;
  }
}

/*pixel 5 fix*/

@media only screen and (width: 393px) and (height: 851px) {
  section.intro {
    background-position: bottom right -180px;
  }

  #line-time {
    position: relative;
    left: -120px;
  }

  #line-time > li:nth-child(odd) > div {
    width: 270px;
    height: 320px;
  }

  #line-time > li:nth-child(even) > div {
    width: 270px;
    height: 320px;
  }

  .logo-img {
    max-width: 200px;
  }

  h1 {
    font-size: 30px;
  }
}

@media only screen and (width: 851px) and (height: 393px) {
  div figure.logo {
    margin-top: 10%;
  }

  .logo-img {
    max-width: 220px;
  }

  h1 {
    height: 80vh;
    font-size: 30px;
  }
}

/*galaxy s8+ fix*/

@media only screen and (width: 360px) and (height: 740px) {
  section.intro {
    background-position: bottom right -180px;
  }

  #line-time {
    position: relative;
    left: -120px;
  }

  #line-time > li:nth-child(odd) > div {
    width: 270px;
    height: 320px;
  }

  #line-time > li:nth-child(even) > div {
    width: 270px;
    height: 320px;
  }

  .logo-img {
    max-width: 200px;
  }

  h1 {
    font-size: 30px;
  }
}

@media only screen and (width: 740px) and (height: 360px) {
  div figure.logo {
    margin-top: 10%;
  }

  .logo-img {
    max-width: 220px;
  }

  h1 {
    height: 80vh;
    font-size: 30px;
  }
}

/*galaxy s20 ultra fix*/

@media only screen and (width: 412px) and (height: 915px) {
  section.intro {
    background-position: bottom right -180px;
  }

  #line-time {
    position: relative;
    left: -120px;
  }

  #line-time > li:nth-child(odd) > div {
    width: 270px;
    height: 320px;
  }

  #line-time > li:nth-child(even) > div {
    width: 270px;
    height: 320px;
  }

  .logo-img {
    max-width: 200px;
  }

  h1 {
    font-size: 30px;
  }
}

@media only screen and (width: 915px) and (height: 412px) {
  div figure.logo {
    margin-top: 10%;
  }

  .logo-img {
    max-width: 220px;
  }

  h1 {
    height: 80vh;
    font-size: 30px;
  }
}

/*ipad air fix*/

@media only screen and (width: 820px) and (height: 1180px) {
  section.intro {
    background-position: bottom right -180px;
  }

  .logo-img {
    max-width: 200px;
  }

  h1 {
    font-size: 30px;
  }

  #line-time > li:nth-child(odd) > div {
    width: 280px;
    height: 340px;
  }

  #line-time > li:nth-child(even) > div {
    width: 280px;
    height: 340px;
  }

  .dialog h3 {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

@media only screen and (width: 1180px) and (height: 820px) {
  div figure.logo {
    margin-top: 10%;
  }

  .logo-img {
    max-width: 220px;
  }

  h1 {
    height: 80vh;
    font-size: 30px;
  }
}

/*ipad mini fix*/

@media only screen and (width: 768px) and (height: 1024px) {
  section.intro {
    background-position: bottom right -180px;
  }

  .logo-img {
    max-width: 200px;
  }

  h1 {
    font-size: 30px;
  }
}

@media only screen and (width: 1024px) and (height: 768px) {
  div figure.logo {
    margin-top: 10%;
  }

  .logo-img {
    max-width: 220px;
  }

  h1 {
    height: 80vh;
    font-size: 30px;
  }
}

/*surface pro 7 fix*/

@media only screen and (width: 912px) and (height: 1368px) {
  section.intro {
    background-position: bottom right -180px;
  }

  .logo-img {
    max-width: 350px;
  }

  h1 {
    font-size: 30px;
  }
}

@media only screen and (width: 1368px) and (height: 912px) {
  section.intro {
    background-position: bottom right -180px;
  }

  div figure.logo {
    margin-top: 10%;
  }

  .logo-img {
    max-width: 350px;
  }

  h1 {
    height: 80vh;
    font-size: 30px;
  }
}

/*surface duo fix*/

@media only screen and (width: 540px) and (height: 720px) {
  section.intro {
    background-position: bottom right -180px;
  }

  #line-time > li:nth-child(odd) > div {
    width: 220px;
    height: 320px;
  }

  #line-time > li:nth-child(even) > div {
    width: 220px;
    height: 320px;
  }

  .dialog-right {
    right: 245px;
  }

  .logo-img {
    max-width: 200px;
  }

  h1 {
    font-size: 30px;
  }
}

@media only screen and (width: 720px) and (height: 540px) {
  div figure.logo {
    margin-top: 10%;
  }

  #line-time > li:nth-child(odd) > div {
    width: 300px;
    height: 340px;
  }

  #line-time > li:nth-child(even) > div {
    width: 300px;
    height: 340px;
  }

  .dialog-right {
    right: 325px;
  }

  .logo-img {
    max-width: 200px;
  }

  h1 {
    height: 80vh;
    font-size: 30px;
  }
}

/*galaxy fold fix*/

@media only screen and (width: 280px) and (height: 653px) {
  section.intro {
    background-position: bottom right -180px;
  }

  #line-time {
    position: relative;
    left: -170px;
  }

  #line-time > li:nth-child(odd) > div {
    width: 180px;
    height: 280px;
  }

  #line-time > li:nth-child(even) > div {
    width: 180px;
    height: 280px;
  }

  .logo-img {
    max-width: 170px;
  }

  h1 {
    font-size: 20px;
  }

  .text-card h3 {
    margin-top: 20px;
  }

  .point-time::after {
    top: 130px;
  }

  #body-timeline {
    margin-left: 120px;
    width: 50%;
  }

  .open-button {
    right: 20%;
  }

  .order-button {
    right: 45%;
  }
}

@media only screen and (width: 653px) and (height: 280px) {
  section.intro {
    background-position: center;
  }
  .point-time::after {
    top: 60px;
  }

  .dialog-left {
    left: 20px;
  }

  .dialog-right {
    right: 270px;
  }

  div figure.logo {
    margin-top: 10%;
  }

  .logo-img {
    max-width: 130px;
  }

  h1 {
    height: 80vh;
    font-size: 30px;
  }

  #line-time > li:nth-child(odd) > div {
    width: 250px;
    height: 220px;
  }

  #line-time > li:nth-child(even) > div {
    width: 250px;
    height: 220px;
  }
}

/*galaxy a51-a71 fix*/

@media only screen and (width: 412px) and (height: 914px) {
  section.intro {
    background-position: bottom right -189px;
  }

  #line-time {
    position: relative;
    left: -170px;
  }

  #line-time > li:nth-child(odd) > div {
    width: 300px;
    height: 330px;
  }

  #line-time > li:nth-child(even) > div {
    width: 300px;
    height: 330px;
  }

  .logo-img {
    max-width: 200px;
  }

  h1 {
    font-size: 30px;
  }
}

@media only screen and (width: 914px) and (height: 412px) {
  div figure.logo {
    margin-top: 10%;
  }

  .logo-img {
    max-width: 130px;
  }

  h1 {
    height: 80vh;
    font-size: 30px;
  }
}
